<%- await include("partials/header", { bot, user, title: "Home" , is_logged, dashboardDetails, dashboardConfig,
  hasClientSecret }) %>

  <!-- Page Header-->
  <div class="bg-dash-dark-2 py-4">
    <div class="container-fluid">
      <h2 class="h5 mb-0">Home</h2>
    </div>
  </div>
  <!-- Breadcrumb-->
  <div class="container-fluid py-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 py-3 px-0">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Forms</li> -->
      </ol>
    </nav>
  </div>

  <div class="container-sm center" style="margin-top: 25px;">
    <div class="d-grid gap-2 col-6 mx-auto">
      <h2>Welcome to <%= dashboardDetails.name %> Dashboard!</h2>

      <% if(dashboardDetails.description) { %>
        <p>
          <%= dashboardDetails.description %>
        </p>
        <% } %>

          <% if(hasClientSecret) { %>
            <a class="btn btn-secondary text-white" href="/dashboard">
              <%- is_logged ? 'Dashboard' : 'Login to access the dashboard' %>
            </a>
            <% } %>

              <% if(commands.length> 0) { %>
                <a class="btn btn-secondary text-white" href="/commands">Command list</a>
                <% } %>

                  <hr>

                  <a class="btn btn-primary text-white"
                    href="<%= dashboardDetails.inviteUrl ? dashboardDetails.inviteUrl : `https://discord.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&permissions=8` %>">Invite</a>

                  <% if(dashboardDetails.serverUrl) { %>
                    <a class="btn btn-warning" href="<%= dashboardDetails.serverUrl %>">Discord Server</a>
                    <% } %>

    </div>
  </div>
  <%- await include("partials/footer") %>