<%- await include("./partials/header", { bot, version, user, path, title: `Dashboard | ${bot?.user?.username}`, is_logged, dashboardDetails, dashboardConfig, hasClientSecret: true }) %>

<div class="d-flex align-items-stretch">
  <!-- Sidebar Navigation-->
  <nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center p-4"><img class="avatar shadow-0 img-fluid rounded-circle"
        src="<%= bot?.user?.displayAvatarURL() %>" alt="...">
      <div class="ms-3 title">
        <h1 class="h5 mb-1">
          <%= bot?.user?.username %>
        </h1>
        <p class="text-sm text-gray-700 mb-0 lh-1">
          Version: v<%= version %>
        </p>
      </div>
    </div><span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Main</span>
    <ul class="list-unstyled">
      <li class="sidebar-item "><a class="sidebar-link" href="/">
          <svg class="svg-icon svg-icon-sm svg-icon-heavy">
            <use xlink:href="#real-estate-1"> </use>
          </svg><span>Home </span></a></li>
      <% if(commands.length> 0) { %>
          <li class="sidebar-item"><a class="sidebar-link" href="/commands">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                <use xlink:href="#checkmark-1"> </use>
              </svg><span>Commands </span></a></li>
        <% } %>
        <% if(is_logged) { %>
          <li class="sidebar-item active"><a class="sidebar-link" href="/dashboard">
              <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                <use xlink:href="#portfolio-grid-1"> </use>
              </svg><span>Dashboard </span></a></li>
        <% } else { %>
          <li class="sidebar-item"><a class="sidebar-link" href="/auth/login">
            <svg class="svg-icon svg-icon-sm svg-icon-heavy">
              <use xlink:href="#disable-1"> </use>
            </svg><span>Login </span></a></li>
        <% } %>
    </ul>
    </ul>
  </nav>
  <div class="page-content form-page">

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <% guilds.forEach(guild => {
      const permsOnGuild = new Perms(guild.permissions.toString());
      if(!permsOnGuild.has(dashboardConfig.permissions)) return;
  %>
    <div class="card" style="width: 18rem; margin: 2rem;">
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 18rem;">` : '<img src="https://cdn.discordapp.com/embed/avatars/0.png" class="card-img-top" style="max-width: 18rem;">' %>
      <div class="card-body">
        <h5 class="card-title"><%= guild.name %></h5>
        <% if (bot.guilds.cache.get(guild.id)) { %>
          <a href="/manage/<%- guild.id %>" class="btn btn-success text-white">Edit Settings</a>
        <% } else { %>
          <a href="<%= `https://discord.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&permissions=8` %>" class="btn btn-primary text-white">Invite Bot</a>
        <% } %>
      </div>
    </div>
  <%
      });
  %>
</div>

<%- await include("partials/footer") %>